@import "../../../common/fonts.css";
@value makerWhite from '../../../common/colors.css';
@value makerBlack from '../../../common/colors.css';

.container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/boardBackground.jpg");
}

.title {
  color: makerWhite;
  font-family: "Dancing Script";
  font-size: 3em;
  text-shadow: 2px 2px 1px makerBlack;
  user-select: none;
}
