@import "../../../common/fonts.css";
@value makerBlack from '../../../common/colors.css';
@value makerWhite from '../../../common/colors.css';

.container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/boardBackground.jpg");
}

.description {
  color: makerWhite;
  font-weight: 600;
  font-family: "Dancing Script";
  text-shadow: 1px 1px 5px makerBlack;
  font-size: 1.8em;
}
